name: Deploy application manually

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to deploy to"
        required: true
        type: choice
        options:
          - dev
          - prod

env:
  TZ: Europe/Oslo

jobs:
  run-application-tests:
    permissions:
      contents: read
    name: Run application tests
    uses: navikt/mob-gha-workflows/.github/workflows/gradle-run-test.yaml@main

  assemble-build-push-image-dev:
    if: github.event.inputs.environment == 'dev'
    permissions:
      contents: read
      id-token: write
    needs: [ run-application-tests ]
    name: Assemble application & build/push dev image
    uses: navikt/mob-gha-workflows/.github/workflows/gradle-assemble-build-push-image.yaml@main
    secrets: inherit
    with:
      image-suffix: 'dev'
      image-tag: 'snapshot'
      dockerfile: './.nais/dev/Dockerfile'

  deploy-dev:
    if: github.event.inputs.environment == 'dev'
    permissions:
      contents: read
      id-token: write
      pull-requests: write
      deployments: write
    needs: [ assemble-build-push-image-dev ]
    name: Deploy to dev-gcp
    uses: navikt/mob-gha-workflows/.github/workflows/nais-deploy.yaml@main
    with:
      cluster: dev-gcp
      resource: .nais/dev/naiserator-dev.yaml
      image: ${{ needs.assemble-build-push-image-dev.outputs.image }}

  assemble-build-push-image-prod:
    if: github.event.inputs.environment == 'prod'
    permissions:
      contents: read
      id-token: write
    needs: [ run-application-tests ]
    name: Assemble application & build/push prod image
    uses: navikt/mob-gha-workflows/.github/workflows/gradle-assemble-build-push-image.yaml@main
    secrets: inherit
    with:
      image-suffix: 'prod'
      image-tag: 'release'
      dockerfile: './.nais/prod/Dockerfile'

  deploy-prod:
    if: github.event.inputs.environment == 'prod'
    permissions:
      contents: read
      id-token: write
      pull-requests: write
      deployments: write
    needs: [ assemble-build-push-image-prod ]
    name: Deploy to prod-gcp
    uses: navikt/mob-gha-workflows/.github/workflows/nais-deploy.yaml@main
    with:
      cluster: prod-gcp
      resource: .nais/prod/naiserator-prod.yaml
      image: ${{ needs.assemble-build-push-image-prod.outputs.image }}